.wrapper {
  background: #8c97ea;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 100%; /* 16px */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
}
