.wrapper {
  padding: 22px 24px;
  display: flex;
  border-radius: 32px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  .order {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    h2 {
      color: var(--font-color);
      font-size: 24px;
      font-weight: 700;
      line-height: 28px; /* 116.667% */
    }
  }
  .pages {
    display: flex;
    align-items: center;
    gap: 32px;
    .link {
      font-weight: 700;
      color: rgba(25, 25, 25, 0.36);
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      .number {
        border-radius: 32px;
        border: 1.6px solid rgba(25, 25, 25, 0.36);
        font-size: 12px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .activeLink {
      color: var(--font-color);
      .number {
        border-color: var(--font-color);
      }
    }
  }
}
