.wrapper {
  background: linear-gradient(0deg, #f5f5f5 0%, #f5f5f5 100%), #1a1919;
  display: flex;
  justify-content: space-between;
  padding: var(--margin-height) var(--margin-width);
  align-items: center;
}
