.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  .number {
    border-radius: 16px;
    border: 1px solid rgba(25, 25, 25, 0.1);
    flex: 1 0 auto;
    height: 60px;
    min-width: 267px;
    text-align: center;
  }
  .number::placeholder {
    font-size: 17px;
  }
  .operand {
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid rgba(25, 25, 25, 0.1);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    line-height: normal;
    opacity: 0.5;
  }
}
