.wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  margin-top: 8px;
  grid-template-columns: 1fr 1fr;
  .left {
    border-radius: 32px;
    background: #fff;
    padding: 24px;
    .statusWrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .statusText {
        color: #1a1919;
        font-variant-numeric: lining-nums tabular-nums stacked-fractions;
        font-feature-settings: "liga" off, "clig" off;
        font-size: 12px;
        line-height: 16px; /* 133.333% */
      }
      .status {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
    .info {
      margin-top: 24px;
      margin-bottom: 132px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .selects {
        display: flex;
        gap: 16px;
      }
    }
  }
  .right {
    border-radius: 32px;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .pay {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .textarea {
      width: 100%;
      height: 100px;
      border-radius: 16px;
      border: 1px solid rgba(25, 25, 25, 0.1);
      padding: 18px 16px;
      resize: none;
    }
    .textarea:focus {
      outline: none;
      border-color: #c59b68;
    }
    .textarea::placeholder {
      font-size: 16px;
      font-family: var(--font-manrope);
      color: var(--font-color);
      font-variant-numeric: lining-nums tabular-nums stacked-fractions;
      font-feature-settings: "liga" off, "clig" off;
      line-height: 24px; /* 150% */
    }
  }
}
