.wrapper {
  width: 371px;
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  border: 1px solid rgba(26, 25, 25, 0.05);
  background: #fff;
  .form {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  .title {
    color: #1a1919;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%; /* 32px */
    text-align: center;
    margin-bottom: 32px;
  }
}
