.wrapper {
  padding: 8px;
  border-radius: 16px;
  background: rgba(25, 25, 25, 0.04);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  .inputWrapper {
    position: relative;
    .plusSvgWrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      border-radius: 8px;
      background: rgba(25, 25, 25, 0.04);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
    }
    .activePlus {
        cursor: pointer;
        background: #C59B68;
    }
  }
  .variants {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}
